<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppConfig.Application.AuroraApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora"
        tools:targetApi="31">
        <activity
            android:name=".UI.Activity.PayMentActivity.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.ProductDetailActivity.ProductDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.VideoActivity.VideoActivity_Screen2"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.VideoActivity.VideoActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.RegisterActivity.RegisterActivity_Screen3"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.RegisterActivity.RegisterActivity_Screen2"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.RegisterActivity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.LoginActivity.LoginActivityScreen2"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.AuthActivity.LoginActivity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity.StartActivity.StartActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.SplashActivity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.MainActivity.MainActivity"
            android:exported="true" />
    </application>

</manifest>